.new-item-floater {
  position: fixed;
  right: 3rem;
  z-index: 0;
  transition:
    bottom 0.2s;
}

.new-item-floater.show {
  bottom: calc(var(--navbar-height) + 3rem);
}

.new-item-floater.hide {
  bottom: -0.2rem;
}

.new-item-floater>span {
  font-size: 4rem;
}
