.new-item-floater {
  --floater-font-size: calc(calc(4rem * 3) / 7);
  min-height: calc(var(--floater-font-size) * 2);
  max-height: calc(var(--floater-font-size) * 2);
  min-width: calc(var(--floater-font-size) * 2);
  max-width: calc(var(--floater-font-size) * 2);
  position: fixed;
  right: calc(calc(3rem * 3) / 7);
  z-index: 0;
  transition:
    bottom 0.2s;
}

.new-item-floater.show {
  bottom: calc(var(--navbar-height) + calc(calc(3rem * 3) / 7));
}

.new-item-floater.hide {
  bottom: -calc(calc(0.2rem * 3) / 7);
}

.new-item-floater>span {
  font-size: var(--floater-font-size);
}
