.checkbox-organizer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-checkbox {
  height: 1.25rem;
  width: 1.25rem;
  border: 1px solid black;
  border-radius: 0.25rem;
}

.custom-checkbox>span {
  font-size: 1.25rem;
}

.custom-checkbox.checked {
  background-color: black;
  color: var(--not-quite-steelblue);
}
