.checkbox-organizer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkbox-organizer.bare> :is(.custom-checkbox, .custom-checkbox.checked) {
  border: none;
  height: unset;
  width: unset;
  background-color: transparent;
  color: black;
}

.checkbox-organizer.unlabeled>span.checkbox-title {
  display: none;
}

.custom-checkbox {
  cursor: pointer;
  height: 1.25rem;
  width: 1.25rem;
  border: 1px solid black;
  border-radius: 0.25rem;
}

.custom-checkbox>span {
  font-size: 1.25rem;
}

.custom-checkbox.checked {
  background-color: black;
  color: var(--not-quite-steelblue);
}
