.new-item-floater {
  --floater-font-size: 1.75rem;
  --floater-side: calc(var(--floater-font-size) * 2);
  --floater-offset: 1.25rem;
  min-height: var(--floater-side);
  max-height: var(--floater-side);
  min-width: var(--floater-side);
  max-width: var(--floater-side);
  position: fixed;
  right: var(--floater-offset);
  z-index: 0;
  transition:
    top 0.2s;
}

.new-item-floater.show {
  top: calc((var(--above-navbar) - var(--floater-side)) - var(--floater-offset));
}

.new-item-floater.hide {
  top: var(--above-navbar);
}

.new-item-floater>span {
  font-size: var(--floater-font-size);
}
