.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: var(--above-navbar);
  width: 100vw;
  padding: 0px 20px;
}

.auth-form * {
  font-size: calc(calc(3rem * 3) / 7);
}

.auth-form>* {
  --button-margin: calc(calc(2rem * 3) / 7);
}

.auth-input {
  color: white;
  background-color: black;
  text-align: center;
  border: none;
  border-bottom: calc(calc(0.3rem * 3) / 7) solid darkgrey;
  margin: calc(calc(2rem * 3) / 7);
  transition:
    border-bottom 0.1s;
}

.auth-input:focus {
  outline: none;
  border-bottom: calc(calc(0.3rem * 3) / 7) solid var(--not-quite-steelblue);
}
