:root {
  --not-quite-steelblue: rgb(65, 133, 200);
  --navbar-height: 7rem;
  --above-navbar: calc(100vh - var(--navbar-height));
  --active-highlight: rgb(83, 170, 255);
}

body {
  margin: 0;
  background-color: black;
  color: var(--not-quite-steelblue);
  font-size: 1.5rem;
}

.clickable:active {
  color: white !important;
  background-color: var(--active-highlight);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Google Sans';
}

button {
  --button-padding: 1.5rem;
  --button-margin: 0rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
  color: black;
  background-color: var(--not-quite-steelblue);
  font-size: 1rem;
  padding: var(--button-padding);
  margin: var(--button-margin);
  transition:
    padding 0.05s,
    margin 0.05s;
}

button:not(:disabled):active {
  margin: calc(var(--button-margin) + 0.5rem);
  padding: calc(var(--button-padding) - 0.5rem);
}

button:disabled {
  cursor: not-allowed;
  background-color: grey;
  color: black;
}

#main {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#router-container {
  height: var(--above-navbar);
  width: 100vw;
  padding: 2rem 0px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
