nav {
  z-index: 3;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-content: center;
  height: var(--navbar-height);
  width: 100vw;
  background-color: var(--not-quite-steelblue);
  color: black;
}

.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  height: var(--navbar-height);
  color: black;
  cursor: pointer;
  max-width: calc(100vw / 5);
  min-width: calc(100vw / 5);
}

.nav-button:not(.first) {
  border-left: 1px solid black;
}

.nav-button:not(.last) {
  border-right: 1px solid black;
}

.nav-button>span {
  font-size: calc((4rem * 3) / 7);
}
